<header>
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="#news">News</a>
        <a href="#newsfeed">Post</a>
        <a href="#footer">Contact</a>
        
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div >
       <img class="img" src="/images/newforyou.jpeg" alt="technews"width="100%">
       
      </div>
      <div class="typewriter">
        <h3 class="typewriter-text">Create your Own Article Here!</h3>
    </div>
</header>